/* poppins-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/poppins-v20-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/poppins-v20-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/poppins-v20-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v30-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/roboto-v30-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-v30-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-mono-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-mono-v23-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-mono-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-mono-v23-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
:root,
html[data-theme=light] {
  --color-primary: #204ee9;
  --color-primary-hover: #4d71ed;
  --color-neutral-0: #fff;
  --color-darkneutral-0: #1c1f26;
  --color-border: #2b395f;
  --root-size: 16px;
  --site-width: 1660px;
  --heading-font-family: "Poppins";
  --body-font-family: "Roboto";
  --fallback-font-family: -apple-system, "Open Sans", "Helvetica Neue";
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-primary: #7995f2;
    --color-primary-hover: #a6b8f6;
    --color-neutral-0: #1c1f26;
    --color-darkneutral-0: #fff;
    --color-border: #bec4d5;
  }
}
* {
  box-sizing: border-box;
  backface-visibility: hidden;
}

html {
  font-size: var(--root-size);
  min-width: 20rem;
}
html[data-theme=dark] {
  --color-primary: #7995f2;
  --color-primary-hover: #a6b8f6;
  --color-neutral-0: #1c1f26;
  --color-darkneutral-0: #fff;
}
html[data-theme=dark] .theme i.fa-sun {
  display: block;
}
html[data-theme=dark] .logo-container .logo-white {
  display: inline-flex;
}
html[data-theme=light] .theme i.fa-moon {
  display: block;
}
html[data-theme=light] .logo-container .logo {
  display: inline-flex;
}

body {
  display: grid;
  width: 100%;
  max-width: var(--site-width);
  margin: auto;
  grid-auto-flow: column;
  grid-template-areas: "header" "main" "footer";
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
  justify-items: center;
  min-height: 90vh;
  font-family: var(--body-font-family), var(--fallback-font-family), sans-serif;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: var(--color-neutral-0);
  color: var(--color-darkneutral-0);
  transition: all 0.3s ease-out;
}

header,
main,
footer {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

header {
  flex-direction: row;
  padding: 1.5rem 0;
}

main {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  padding: 1.5rem 0;
}
footer .links {
  display: flex;
  flex-direction: row;
  width: auto;
  gap: 1.5rem;
}
footer .social-links {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}
footer .social-links i {
  font-size: 1.5rem;
}

.logo-container {
  display: inline-flex;
  width: 100%;
  max-width: 14rem;
}
.logo-container img {
  width: 100%;
  display: none;
}

.theme {
  position: relative;
  width: 1.25rem;
  height: 1.25rem;
}
.theme i {
  font-size: 1.25rem;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
  display: none;
}

h1 {
  display: inline-flex;
  flex-direction: row;
  font-family: "Roboto Mono", monospace;
  font-weight: 700;
  font-size: clamp(90px, 10vw, 100px);
  line-height: 120%;
  margin-bottom: 5rem;
  margin-top: 0;
  text-align: center;
}

p {
  font-family: var(--body-font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
}
p.v-bold {
  font-weight: 700;
}
p.v-small {
  font-size: 16px;
}
p.v-extra-small {
  font-size: 14px;
  color: #7b849d;
}

a {
  text-decoration: none;
  color: var(--color-darkneutral-0);
}
a:hover {
  color: var(--color-primary-hover);
}

.sib-form {
  padding: 0;
}
.sib-form .checkbox {
  left: 0;
  width: 16px;
}
.sib-form .input_replaced {
  left: 1.5rem;
  width: 16px;
}
.sib-form .form__entry {
  width: 100%;
}

#sib-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: none;
  background: transparent;
  padding: 0;
}
#sib-container #sib-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#sib-container #sib-form .entry__label {
  display: flex !important;
  width: 100%;
  max-width: 32rem;
  justify-content: center;
}
#sib-container #sib-form .form-input {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 8px;
}
#sib-container #sib-form .form-input input:first-child {
  border: 2px solid var(--color-border);
  border-right: none;
  border-radius: 10rem 0 0 10rem;
  padding: 0.5rem 1.75rem;
  font-family: var(--body-font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
}
#sib-container #sib-form .form-input button {
  border: 2px solid var(--color-border);
  border-radius: 0px 56.5px 56.5px 0px;
  font-family: var(--body-font-family);
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  padding: 0.5rem 1.75rem;
  text-align: center;
  background-color: var(--color-primary);
  color: var(--color-neutral-0);
  position: relative;
  overflow: hidden;
  min-width: 7rem;
}
#sib-container #sib-form .form-input button .icon {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 4rem;
  height: 4rem;
  padding: 1rem;
  background-color: var(--color-primary);
}
#sib-container #sib-form .form-input button:hover {
  background-color: var(--color-primary-hover);
}
#sib-container #sib-form .form-input button:hover .icon {
  background-color: var(--color-primary-hover);
}
#sib-container #sib-form .entry__error {
  text-align: center;
  margin-top: 8px;
  margin-bottom: 32px;
  display: none;
}
#sib-container #sib-form .entry__choice {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-left: 0;
  text-indent: 0;
}
#sib-container #sib-form .entry__choice label {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  cursor: pointer;
  text-align: center;
}
#sib-container #sib-form .entry__choice label p {
  display: inline-flex;
  text-align: left;
}
#sib-container #sib-form .entry__choice label p span {
  width: 5px;
  top: -4px;
  position: relative;
  height: 0;
  margin-bottom: 0;
}
#sib-container .sib-form-block {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.fade-in-up {
  opacity: 0;
  transform: translateY(0);
  animation: fadeInUp 1s ease-in-out 1.75s forwards;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.grecaptcha-badge {
  z-index: -1;
}/*# sourceMappingURL=styles.css.map */